<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-4 text-center bg-light py-3">
      <h1>New Post</h1>
    </div>
  </div>
</div>

<%= render 'form', post: @post %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-4 text-center bg-light py-3">
      <%= link_to 'Go Back', posts_path %>
    </div>
  </div>
</div>

