<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 rounded bg-light my-3">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Post:</strong>
        <%= @post.post %>
      </p>
        <%= link_to 'Go Back', posts_path %>
    </div>
  </div>
</div>